
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 30px;
}


.filtros-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #282828;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  justify-content: center;
}

.filtro-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
  text-align: left;
}

.filtro-item label {
  font-size: 0.9rem;
  font-weight: bold;
}

.filtro-item select, 
.filtro-item input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #404040;
  color: white;
  font-size: 1rem;
}


.grid-musicas {

  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
  
  gap: 40px; 
  
  width: 100%;
  margin-bottom: 60px; 
}



.card-wrapper {
  cursor: pointer;
  transition: transform 0.2s;
}

.card-wrapper:hover {
  transform: translateY(-5px);
}